<a href="https://colab.research.google.com/github/abdelrhmanhesham1/python-challenges/blob/main/File_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Practice
# Enjoy^_^

# 1. Python Flow Control

## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [ ]:
results = []

for num in range(1500, 2701):
    if num % 7 == 0 and num % 5 == 0:
        results.append(num)

print("Numbers which are divisible by 7 and multiples of 5 between 1500 and 2700:")
print(results)

Numbers which are divisible by 7 and multiples of 5 between 1500 and 2700:
[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [ ]:
import random

# Generate a random number between 1 and 9
correct_number = random.randint(1, 9)
guess = 0  # Initialize guess to enter the loop

while guess != correct_number:
    guess = int(input("Guess a number between 1 and 9: "))

print("Well guessed!")

Guess a number between 1 and 9: 4
Guess a number between 1 and 9: 5
Guess a number between 1 and 9: 6
Well guessed!

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

## 4. Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
# Upper part of the pattern
for i in range(1, 6):
    print('* ' * i)

# Lower part of the pattern
for i in range(4, 0, -1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *

## 5. Write a Python program that accepts a word from the user and reverses it.

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 4
Number of odd numbers: 5

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .
for example  Expected Output:


```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [ ]:
# Alphabet pattern for 'A'
pattern = [
    "  ***  ",
    " *   * ",
    " *   * ",
    " ***** ",
    " *   * ",
    " *   * ",
    " *   * "
]

# Printing the pattern
for row in pattern:
    print(row)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:


``
1
22
333
4444
55555
666666
7777777
88888888
999999999
``

In [ ]:
for i in range(1, 10):
    print(str(i) * i, end=' ')

1 22 333 4444 55555 666666 7777777 88888888 999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [ ]:
# Taking input from the user
number = int(input("Input a number: "))

# Loop to print the multiplication table
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [ ]:
# Initialize variables for sum and count of numbers
total_sum = 0
count = 0

while True:
    # Take input from the user
    num = int(input("Enter a number (0 to finish): "))

    # Break the loop if the user enters 0
    if num == 0:
        break

    # Add the number to the sum and increment the count
    total_sum += num
    count += 1

# Calculate average if count is not zero
if count > 0:
    average = total_sum / count
    print("Sum:", total_sum)
    print("Average:", average)
else:
    print("No numbers were entered.")

Enter a number (0 to finish): 2
Enter a number (0 to finish): 3
Enter a number (0 to finish): 4
Enter a number (0 to finish): 7
Enter a number (0 to finish): 0
Sum: 16
Average: 4.0

# 11-Python Program to Print the Fibonacci sequence

The Fibonacci numbers are the numbers in the following integer sequence. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, â€¦â€¦.. In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation.


![image.png](attachment:image.png)

# Finding the Maximum Value in a List

In [ ]:
numbers = [10, 20, 30, 40, 50]

max_value = numbers[0]  # Assume the first element is the maximum initially

for num in numbers:
    if num > max_value:
        max_value = num

print("The maximum value is:", max_value)

The maximum value is: 50

# Counting Vowels in a String

In [ ]:
string = "Hello, how are you?"

vowel_count = 0

for char in string:
    if char in 'aeiouAEIOU':
        vowel_count += 1

print("Number of vowels:", vowel_count)

Number of vowels: 7

# Finding Prime Numbers within a Range

In [ ]:
start = 10  # Starting number of the range
end = 50    # Ending number of the range

for num in range(start, end + 1):
    if num > 1:  # Prime numbers are greater than 1
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

11
13
17
19
23
29
31
37
41
43
47

# A Program that Simulating a Basic ATM Withdrawal

In [ ]:
# Initial balance and PIN
balance = 1000
pin = 1234

# Ask for PIN
user_pin = int(input("Enter PIN: "))

if user_pin == pin:
    # Ask for withdrawal amount
    amount = float(input("Enter amount to withdraw: "))

    if amount <= balance:
        balance -= amount
        print("Withdrawal successful. Balance is now:", balance)
    else:
        print("Insufficient balance.")
else:
    print("Incorrect PIN.")

Enter PIN: 1234
Enter amount to withdraw: 250
Withdrawal successful. Balance is now: 750.0

# Finding Common Elements in Two Lists

In [ ]:
# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Function to convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

# Ask user for input
choice = input("Convert (C)elsius to Fahrenheit or (F)ahrenheit to Celsius: ").upper()

if choice == 'C':
    celsius = float(input("Enter temperature in Celsius: "))
    print(celsius_to_fahrenheit(celsius), "°F")
elif choice == 'F':
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    print(fahrenheit_to_celsius(fahrenheit), "°C")
else:
    print("Invalid choice")

Convert (C)elsius to Fahrenheit or (F)ahrenheit to Celsius: c
Enter temperature in Celsius: 55
131.0 °F

In [1]:
# Function to convert Celsius to Fahrenheit
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

# Taking user input
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)

# Printing the result
print(f"{fahrenheit:.1f} °F")

Enter temperature in Celsius: 33
91.4 °F

In [ ]:
matrix

# Calculating Factorial of a Number

# Input number
num = int(input("Enter a number: "))

# Initialize factorial to 1
factorial = 1

# Loop to calculate factorial
for i in range(1, num + 1):
    factorial *= i

print(f"Factorial of {num} is {factorial}")

# Validating User Input with While Loop

# Finding the Sum of Digits of a Number

# Checking for Palindrome Strings

# Creating a Dictionary from Two Lists

# Simulating a Simple Password Check

# Generating a Multiplication Table for a Given Number